[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/dss"]
	path = lib/dss
	url = https://github.com/makerdao/dss.git
[submodule "lib/ds-math"]
	path = lib/ds-math
	url = https://github.com/dapphub/ds-math
[submodule "lib/dss-interfaces"]
	path = lib/dss-interfaces
	url = https://github.com/makerdao/dss-interfaces
[submodule "lib/dss-charter"]
	path = lib/dss-charter
	url = https://github.com/makerdao/dss-charter
[submodule "lib/dss-gem-joins"]
	path = lib/dss-gem-joins
	url = https://github.com/makerdao/dss-gem-joins
[submodule "lib/proxy-manager-clipper"]
	path = lib/proxy-manager-clipper
	url = https://github.com/makerdao/proxy-manager-clipper
[submodule "lib/dss-crop-join"]
	path = lib/dss-crop-join
	url = https://github.com/makerdao/dss-crop-join
[submodule "lib/lockstake"]
	path = lib/lockstake
	url = https://github.com/makerdao/lockstake
